<%- include('../partials/header') %>

<form id="create-flight" action="/flights" method="POST">
    <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="JFK">JFK</option>
    </select>
    <label>Airline:</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Alaska">Alaska</option>
        <option value="JetBlue">JetBlue</option>
    </select>
    <label>Flight No.</label>
    <input type="number" min=10 max=9999 name="flightNo" required>
    <label>Departing:</label>
    <input type="datetime-local" name="departs">
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>