<%- include('../partials/header') %>

<form id="create-flight" action="/flights" method="POST">
    <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="JFK">JFK</option>
    <label>Airline:</label>
    <select name="airline">
        <option value="AUS">American</option>
        <option value="DFW">Alaska</option>
        <option value="DEN">JetBlue</option>
    <label>Flight No.</label>
    <input type="number">
    <label>Departing:</label>
    <input type="date" name="departing">
    
</form>

<%- include('../partials/footer') %>